#BUS_SORT
#W
A\[7\]
A\[6\]
A\[5\]
A\[4\]
A\[3\]
A\[2\]
A\[1\]
A\[0\]
B\[7\]
B\[6\]
B\[5\]
B\[4\]
B\[3\]
B\[2\]
B\[1\]
B\[0\]
op\[2\]
op\[1\]
op\[0\]
#E
Y\[15\]
Y\[14\]
Y\[13\]
Y\[12\]
Y\[11\]
Y\[10\]
Y\[9\]
Y\[8\]
Y\[7\]
Y\[6\]
Y\[5\]
Y\[4\]
Y\[3\]
Y\[2\]
Y\[1\]
Y\[0\]
