#BUS_SORT
#W
clk
rst
#E
result\[7\]
result\[6\]
result\[5\]
result\[4\]
result\[3\]
result\[2\]
result\[1\]
result\[0\]
pc_out\[15\]
pc_out\[14\]
pc_out\[13\]
pc_out\[12\]
pc_out\[11\]
pc_out\[10\]
pc_out\[9\]
pc_out\[8\]
pc_out\[7\]
pc_out\[6\]
pc_out\[5\]
pc_out\[4\]
pc_out\[3\]
pc_out\[2\]
pc_out\[1\]
pc_out\[0\]
