#BUS_SORT
#W
clk
rst
we
address\[15\]
address\[14\]
address\[13\]
address\[12\]
address\[11\]
address\[10\]
address\[9\]
address\[8\]
address\[7\]
address\[6\]
address\[5\]
address\[4\]
address\[3\]
address\[2\]
address\[1\]
address\[0\]
data_in\[15\]
data_in\[14\]
data_in\[13\]
data_in\[12\]
data_in\[11\]
data_in\[10\]
data_in\[9\]
data_in\[8\]
data_in\[7\]
data_in\[6\]
data_in\[5\]
data_in\[4\]
data_in\[3\]
data_in\[2\]
data_in\[1\]
data_in\[0\]
#E
data_out\[15\]
data_out\[14\]
data_out\[13\]
data_out\[12\]
data_out\[11\]
data_out\[10\]
data_out\[9\]
data_out\[8\]
data_out\[7\]
data_out\[6\]
data_out\[5\]
data_out\[4\]
data_out\[3\]
data_out\[2\]
data_out\[1\]
data_out\[0\]
